<link rel="stylesheet" type="text/css" href="/app/css/main.css" />
<script src="/app/js/jquery.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/b-1.5.4/sl-1.2.6/datatables.min.js" type="text/javascript"></script>
<script src="/app/js/dataTables.altEditor.free.js" type="text/javascript"></script>

<ul class='custom-menu'>
  <li data-action="edit">Edit</li>
</ul>
<table class="dataTable table-striped" id="example"></table>
<br />
<table border="0" cellspacing="5" cellpadding="5">
	<tbody>
		<tr>
            <td>Meal:</td>
            <td>
				<select id="mealSelector" class="updateTable">
					<option value="1">Meal 1</option>
					<option value="2">Meal 2</option>
					<option value="3">Before Training</option>
					<option value="4">After Training</option>
					<option value="5">Meal 5</option>
				</select>
			</td>
        </tr>
    </tbody>
</table>
<script src="/app/js/dataTablesInit.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var date = new Date();
		var hour = date.getHours();
		var min = date.getMinutes();
		var startHour = 7;
		var startMin = 0;
		
		var counter = 0;
		var currentItemSet = false;
		
		$('#mealSelector > option').each(function() {
			var rowHour = 3 * counter + startHour;
			console.log(rowHour);
			
			counter++;
			
			if(!currentItemSet && (rowHour > hour || (rowHour == hour && startMin >= min)))
			{
				$("#mealSelector").val(counter);
				currentItemSet = true;
			}
		});
		
		var search = function(settings, data, dataIndex ) {
			var meal = parseFloat(data[1]) || 0;
			return meal == $("#mealSelector").val();
		};
		
		var columns = [{ title: "Id", visible: false, type: "hidden" }, { title: "Meal", visible: false, type: "hidden" }, { title: "Food", type: "textarea" }];
	
		Initialize('/app/data/food.json', "/updateFoodItem", columns, null, search);
	});
</script>