<style>#map{height:70%;}#header{height:4%;}</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="/app/js/functions.js"></script>
<div id="header">
	<input type="button" value="Show / hide countries" onclick="showHideCountries()"></input>
</div>
<br />
<div id="map"></div>
<a href="http://www.nationsonline.org/oneworld/country_code_list.htm">Country codes</a>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNeox5F9cGcEFiyJwl4w91T5f7upDcEZw&callback=initMap"></script>