<script src="/app/js/jquery.js" type="text/javascript"></script>
<script src="/app/js/jqueryui.js" type="text/javascript"></script>
<script src="/app/js/jtable/jquery.jtable.js" type="text/javascript"></script>
<script src="/app/js/Tinymce3/tiny_mce.js?cdv=2723419" type="text/javascript"></script>
<div id="data"></div>
<script type="text/javascript">
	$(document).ready(function () {
		var tableData = {
			columnResizable: false,
			selecting: true,
			paging: false,
			sorting: true,
			actions: {
				listAction: function (postData, jtParams) {
					var data = [];
					data[2] = [{ "Id": 1, "Key": "15", "Value": "Горен лег 4х 12,10,8,8" },
						{ "Id": 2, "Key": "25", "Value": "Машина за горни гърди 4х10" },
						{ "Id": 3, "Key": "10", "Value": "Флайс от горен лег 3х15" },
						{ "Id": 4, "Key": "15", "Value": "Лежанка с дъмбели или лост 4х 12,10,8,8" },
						{ "Id": 5, "Key": "12", "Value": "Кросоувър 3х15" },
						{ "Id": 6, "Key": "", "Value": "Разгъване на скрипец за трицепс (ръкохватка по избор) 3х15" },
						{ "Id": 7, "Key": "7д", "Value": "Френско 4х 15,12,10,8" },
						{ "Id": 8, "Key": "-", "Value": "Кик бек 3х10" },
						{ "Id": 9, "Key": "-", "Value": "Коремни преси+повдигане на краката от вис 4х20" },
						{ "Id": 10, "Key": "-", "Value": "Къси коремни преси 4х20" },
						{ "Id": 11, "Key": "-", "Value": "Коремни преси от римско столче 4х20" },
						{ "Id": 12, "Key": "-", "Value": "Кардио 20 мин" }];
					data[3] = [{ "Id": 13, "Key": "-", "Value": "Горен скрипец-3 пред и 3 зад врат загрявка" },
						{ "Id": 14, "Key": "15 ", "Value": "Гребане с дъмбел 3х10" },
						{ "Id": 15, "Key": "25 ", "Value": "Мечка-4х12" },
						{ "Id": 16, "Key": "42 ", "Value": "Горен скрипец подхват-4х15" },
						{ "Id": 17, "Key": "42+", "Value": "Долен скрипец-4х10" },
						{ "Id": 18, "Key": "7.5", "Value": "Сгъване за бицепс с крив лост 4х15,12,10,8" },
						{ "Id": 29, "Key": "8", "Value": "Сгъване с дъмбели от седеж 3х12 въртене малък пръст" },
						{ "Id": 20, "Key": "+12", "Value": "машина - Скотово сгъване (машина,дъмбел,лост) 3х12,10,8" },
						{ "Id": 21, "Key": "+8", "Value": "Задно рамо с дъмбели -3х12" },
						{ "Id": 22, "Key": "37+", "Value": "Задно рамо с въже-3х10" },
						{ "Id": 23, "Key": "-", "Value": "Кардио 20 мин" }];
					data[4] = [{ "Id": 24, "Key": "37+  ", "Value": "Раменна преса(с дъмбели,лост,машина)-4х12,10,8,8" },
						{ "Id": 25, "Key": "32маш", "Value": "Разтваряне встрани (с дъмбели или машина)-3х12" },
						{ "Id": 26, "Key": "5    ", "Value": "Вертолет 4х12(2 серии тясно и 2 широко)" },
						{ "Id": 27, "Key": "6    ", "Value": "Изнасяне с дъмбели напред 3х12" },
						{ "Id": 28, "Key": "40   ", "Value": "Машина за трапец 4х12" },
						{ "Id": 29, "Key": "20+  ", "Value": "С лост повдигане за трапец 4х8 (със задържане)" },
						{ "Id": 30, "Key": "-    ", "Value": "Коремни преси+повдигане на краката от вис+къси коремни преси 4х20 на всяко" },
						{ "Id": 31, "Key": "-    ", "Value": "Коремни преси на римско столче 4х20" },
						{ "Id": 32, "Key": "-    ", "Value": "коси коремни 3х30" },
						{ "Id": 33, "Key": "-    ", "Value": "Кардио 20 мин" }];
					data[5] = [{ "Id": 34, "Key": "-", "Value": "Загрявка 15 мин кардио" },
						{ "Id": 35, "Key": "-", "Value": "Бедрено разгъване-5х20" },
						{ "Id": 36, "Key": "-", "Value": "Клек(свободен,смит,машина)-4х12,10,10,8" },
						{ "Id": 37, "Key": "-", "Value": "Лег преса 4х20" },
						{ "Id": 38, "Key": "-", "Value": "Римска тяга-3х12" },
						{ "Id": 39, "Key": "-", "Value": "Бедрено сгъване-4х20" },
						{ "Id": 40, "Key": "-", "Value": "Напади-3х12" },
						{ "Id": 41, "Key": "-", "Value": "Прасец на калф машина-4х15" },
						{ "Id": 42, "Key": "-", "Value": "ПРасец на  клек машина или лег преса -4х10" }];
					
					var d = new Date();
					var n = d.getDay();
	
					return {
						"Result": "OK",
						"Records": data[n]
					};
				}
			},
			fields: {
				Id: {
					key: true,
					create: false,
					edit: false,
					list: false
				},
				Key: {
					key: false,
					create: true,
					edit: true,
					list: true
				},
				Value: {
					key: false,
					create: true,
					edit: true,
					list: true
				}
			}
		}

		$('#data').jtable(tableData);
		$('#data').jtable('load');
	});
</script>