<html>
  <head>
  <style>
      html, body {
        margin: 0;
        padding: 10px 10px 0 10px;
      }
	</style>
	<link rel="icon" href="/favicon.ico" />
    <title>Locations</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Map</a></li>
      <li><a href="/pomodoro">Pomodoro</a></li>
      <li><a href="/copytools">Copy tools</a></li>
	  <li><a href="http://www.nationsonline.org/oneworld/country_code_list.htm">Country codes</a></li>
    </ul>
    {{{body}}}
  </body>
</html>